---
import { Icon } from "astro-icon/components";

const iconHeight = "24";
---

<style>
footer {
  padding: 1em;
  font-size: 0.875rem;
  color: light-dark(var(--light-gray-3), var(--light-gray-3));
  display: flex;
  gap: 2em;
  justify-content: space-between;
  justify-self: stretch;
  max-width: 80ch;
  margin: 0 auto;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    text-align: center;
  }
}

ul {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

ul a {
  color: inherit;
}

.icon-rss:hover {
  color: var(--rss-color);
}
.icon-mastodon:hover {
  color: var(--mastodon-color);
}
.icon-bluesky:hover {
  color: var(--bluesky-color);
}
.icon-email:hover {
  color: var(--link-hover-color);
}
.icon-github:hover {
  color: light-dark(var(--github-color), var(--github-color-dark));
}
</style>

<footer>
  <p>&copy; {new Date().getFullYear()} Neville Omangi. All rights reserved.</p>
  
  <ul>
    <li><a class="icon-mastodon" href="https://mastodon.online/@aphilas"><Icon name="mdi:mastodon" title="Mastodon" height={iconHeight} width={iconHeight} /></a></li>
    <li><a class="icon-bluesky" href="https://bsky.app/profile/aphilas.bsky.social"><Icon name="ri:bluesky-fill" title="Bluesky" height={iconHeight} width={iconHeight} /></a></li>
    <li><a class="icon-email" href="mailto:aphilas@emailplus.org"><Icon name="mdi:alternate-email" title="Email" height={iconHeight} width={iconHeight} /></a></li>
    <li><a class="icon-github" href="https://github.com/aphilas"><Icon name="mdi:github" title="GitHub" height={iconHeight} width={iconHeight} /></a></li>
    <li><a class="icon-rss" href="/rss.xml"><Icon name="mdi:rss" title="RSS Feed" height={iconHeight} width={iconHeight} /></a></li>
  </ul>
</footer>
