---
import BaseLayout from './BaseLayout.astro';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Tags from '../components/Tags.astro';
import { Icon } from "astro-icon/components";
import "../styles/global.css";
import "../styles/prose.css";

interface Heading {
  depth: number;
  slug: string;
  text: string;
}

const { frontmatter, headings } = Astro.props;
---

<style is:global>
header, footer {
  grid-column: 1 / -1;
}
</style>

<style>
#root {
  display: grid;
  grid-template-columns: 1fr minmax(0, var(--main-max-width)) 1fr;
  gap: var(--gutter);

  --gutter: 2rem;
  --main-max-width: 80ch;
  --aside-width: 20rem;
  --aside-top: 4em;
}

main {
  grid-column: 2 / 3;
  max-width: var(--main-max-width);
  padding: 0 1rem;
}

aside {
  grid-column: 1 / 2;
  position: sticky;
  top: var(--aside-top);
  justify-self: center;
  padding: 0 2rem;
}

aside > div {
  max-width: var(--aside-width);
}

@media (max-width: 600px) {
  #root {
    /* See: https://css-tricks.com/preventing-a-grid-blowout/ */
    grid-template-columns: minmax(0, 1fr);
    --gutter: 0;
  }

  main {
    grid-column: auto;
    width: 100%;
  }

  aside {
    grid-column: auto;
    position: static;
    justify-self: initial;
    padding: 0 1rem;
  }
}

aside li.level-3 {
  padding-left: 0.5em;
}
aside li.level-4 {
  padding-left: 1em;
}
aside li.level-5 {
  padding-left: 1.5em;
}
aside li.level-6 {
  padding-left: 2em;
}

.metadata {
  display: flex;
  gap: 1rem;
  font-size: medium;
  color: light-dark(#666, #aaa);
}

.metadata > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}



</style>

<BaseLayout pageTitle={frontmatter.title}>
  <div id="root">
    <Header />

    <aside>
      <div class="toc">
        <h3>Contents</h3>

        <ul class="ul">
          {
            headings.map((heading: Heading) => (
              <li class={`level-${heading.depth}`}>
                <a href={`#${heading.slug}`}>{heading.text}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </aside>

    <main>
      <div class="article-header">
        <hgroup>
          <h1>{frontmatter.title}</h1>

          <div class="metadata">
            <div class="date">
              <Icon name="mdi:calendar-month" title="Published On" />
              <span title="Published On"
                >{frontmatter.pubDate.toString().slice(0, 10)}</span
              >
            </div>

            <div class="tags">
              <Icon name="mdi:tag-multiple" title="Tags" />
              <Tags tags={frontmatter.tags} />
            </div>
          </div>
        </hgroup>

        <hr />
      </div>

      <article>
        <slot />
      </article>
    </main>
    <Footer />
  </div>
</BaseLayout>
